@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background: #dfdfdf;
    font-family:Comic Sans MS, sans-serif;
}

header{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 20%;
}

.capture{
    width: 800px;
    border: 1px solid gray;
    text-align: center;
    background: whitesmoke;
    line-height: 4em;
    font-size: 22px;
    float: left;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

main{
    width: 100%;
}

nav{
    width: 20%;
    float: left;
}
.content{
    width: 800px;
    float: left;
}

.index{
    margin-left: 20%;
}
.index a{
    display: block;
    float: left;
    width: 200px;
    margin: 30px;
    text-align: center;
}

.studForm{
    width: 800px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

table th, table td{
    text-align: left;
    font-size: 14px;
    border: 1px solid #5d5d5d;
    padding: 5px;

}

table th{
    background: #a6a6a6;
}

.addProgress td{
    border: none;
}

.discipline,.choises {
    width: 380px;
    padding: 5px;
}
.discipline{
    float: left;
}
.choises{
    float: right;
    text-align: center;
}

label + select{
    display: inline-block;
}

.choise-button{
    width: 75px;
    display: inline-block;
}

.add{
    width: 400px;
    text-align: right;
    display: block;
}

.add label{
    margin-right: 10px;
}

.add label + input{
    margin-bottom: 10px;
}

.add label + input{
    width: 200px;
}

.add .semLab{
    font-size: 12px;
}

.add select{
    width: 200px;
    margin-bottom: 5px;
}

.add option{
    margin-left: 5px;
}

.button{
    text-align: center;
    margin: 5px;
    padding: 2px;
}

.multi-button{
    width: 350px;
}

.submit-button{
    width: 150px;
    position: relative;
    right: 45px;
}

.error{
    color: red;
}

.button-progress{
    display: block;
    padding: 5px;
    border: 1px solid darkgray;
    text-decoration: none;
    position: relative;
    width: 30%;
    float: none;
    clear: both;
    text-align: center;
    margin-top: 20px;
}











