@charset "UTF-8";
body{
    background: #dfdfdf;
    font-family:Comic Sans MS, sans-serif;
}

header{
    width: 800px;
    border: 1px solid gray;
    text-align: center;
    margin: auto;
    background: whitesmoke;
    margin-bottom: 20px;
}

main{
    width: 800px;
    margin: auto;
}

.index a{
    display: block;
    float: left;
    width: 200px;
    margin: 30px;
    text-align: center;
}

.studForm{
    width: 800px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

table th, table td{
    text-align: left;
    font-size: 14px;
    border: 1px solid #5d5d5d;
    padding: 5px;

}

table th{
    background: #a6a6a6;
}

.discipline,.choises {
    width: 380px;
    padding: 5px;
}
.discipline{
    float: left;
}
.choises{
    float: right;
    text-align: center;
}

label + select{
    display: inline-block;
}

.choise-button{
    width: 75px;
    display: inline-block;
}

.add{
    width: 400px;
    text-align: right;
    display: block;
}

.add label{
    margin-right: 10px;
}

.add label + input{
    margin-bottom: 10px;
}

.add label + input{
    width: 200px;
}

.add .semLab{
    font-size: 12px;
}

.add select{
    width: 200px;
    margin-bottom: 5px;
}

.add option{
    margin-left: 5px;
}

.button{
    text-align: center;
    margin: 5px;
    padding: 2px;
}

.multi-button{
    width: 350px;
}

.submit-button{
    width: 150px;
    position: relative;
    right: 45px;
}











